In [1]:
import numpy as np
import pandas as pd
from sklearn.externals import joblib

poppovByCounty = pd.read_csv('NewCSV.csv')
poppovByCounty.head()

c:\users\kiera\appdata\local\programs\python\python37\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

,Unnamed: 0,State,County,CENSUS2010POP,All Ages in Poverty Percent LB 90%
0,1,Alabama,Autauga County,54571.0,11.5
1,2,Alabama,Baldwin County,182265.0,8.1
2,3,Alabama,Barbour County,27457.0,25.8
3,4,Alabama,Bibb County,22915.0,17.1
4,5,Alabama,Blount County,57322.0,10.6

In [27]:
popCorona = pd.read_csv("result.csv")
popCorona.head()

,State,Confirmed,Deaths,Recovered,Active,Confirmed32620,Deaths32620,Recovered32620,Active32620,Confirmed32520,...,Active32520,Confirmed32420,Deaths32420,Recovered32420,Active32420,Confirmed32320,Deaths32320,Recovered32320,Active32320,CENSUS2010POP
0,Alabama,587.0,4.0,0.0,0.0,517.0,1.0,0.0,0.0,381.0,...,0.0,242,0,0,0,196.0,0.0,0.0,0.0,4779736.0
1,Alaska,58.0,1.0,0.0,0.0,56.0,1.0,0.0,0.0,41.0,...,0.0,34,0,0,0,30.0,0.0,0.0,0.0,710231.0
2,Arizona,665.0,13.0,0.0,0.0,508.0,8.0,0.0,0.0,401.0,...,0.0,326,5,0,0,235.0,2.0,0.0,0.0,6392017.0
3,Arkansas,381.0,3.0,0.0,0.0,335.0,2.0,0.0,0.0,280.0,...,0.0,219,2,0,0,192.0,0.0,0.0,0.0,2915918.0
4,California,4657.0,94.0,0.0,0.0,3899.0,81.0,0.0,0.0,2998.0,...,0.0,2538,50,0,0,2108.0,39.0,0.0,0.0,37253956.0

In [3]:
# Load the pickle file
model_load = joblib.load('saved_model.pkl') 
x_new = [[814180.0]]
model_load.predict(x_new)

array([[983027.65371803]])

In [4]:
state = input('please enter State ,just the first letter capitalized')
county = input('please enter County ,just the first letter capitalized followed by County')
print(state)

please enter State ,just the first letter capitalizedAlabama
please enter County ,just the first letter capitalized followed by CountyBibb County
Alabama

In [28]:
statedf = poppovByCounty.loc[poppovByCounty['State'] == state]
countydf = statedf.loc[statedf['County'] == county]
coronadf = popCorona.loc[popCorona['State'] == state]
coronadf

,State,Confirmed,Deaths,Recovered,Active,Confirmed32620,Deaths32620,Recovered32620,Active32620,Confirmed32520,...,Active32520,Confirmed32420,Deaths32420,Recovered32420,Active32420,Confirmed32320,Deaths32320,Recovered32320,Active32320,CENSUS2010POP
0,Alabama,587.0,4.0,0.0,0.0,517.0,1.0,0.0,0.0,381.0,...,0.0,242,0,0,0,196.0,0.0,0.0,0.0,4779736.0

In [17]:
countydf

,Unnamed: 0,State,County,CENSUS2010POP,All Ages in Poverty Percent LB 90%
3,4,Alabama,Bibb County,22915.0,17.1

In [42]:
population = float(countydf.iloc[0,3])
povertyPercent = float(countydf.iloc[0,4])/100
Coronacases = float(coronadf.iloc[0,1])
print(population, povertyPercent, Coronacases)

22915.0 0.171 587.0

In [44]:
cases = [[Coronacases]]
cases = model_load.predict(cases)
cases = float(cases[0][0])
cases
peopleinpov = (povertyPercent * population)
print(cases, peopleinpov)

print(cases * peopleinpov)

742.857470025897 3918.465
2910860.9962850264